// Define breakpoints
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xLarge: 1200px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #272727;
  font-family: "lato", sans-serif;
}

.banner {
  padding: 0 1rem;
  height: 90vh;
  background-color: #27272772;
  background-image: url("../../public//images/starfield.png");
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 91%);

  @media (min-width: $breakpoint-small) {
    height: 75vh;
  }
  @media (min-width: $breakpoint-medium) {
    height: 58vh;
  }

  .mobileNav {
    display: flex;
    justify-content: space-between;

    .mobileLogo {
      width: 100px;
    }

    .mobileNavBottom {
      button {
        padding: 1rem;
        font-size: 1.4rem;
        background-color: inherit;
        border: none;
        cursor: pointer;
      }

      button:nth-child(1) {
        margin-right: 5px;
        color: white;
      }
      button:nth-child(2) {
        color: #2563eb;
      }
    }

    @media (min-width: $breakpoint-medium) {
      display: none;
    }
  }

  .bannerTop {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;

    .left {
      display: none;
    }

    @media (min-width: $breakpoint-medium) {
      grid-template-columns: 1fr auto 1fr;
      grid-gap: 1rem;
      .left {
        display: block;
      }
    }
  }

  .logo {
    margin-top: 0.5rem;
    width: 100px;
  }

  .middle {
    color: white;

    .midddle-top {
      display: flex;
      justify-content: center;

      > a {
        color: white;
        text-decoration: none;
        padding: 0.5rem 0.5rem;
        font-weight: 500;
        font-size: 0.8rem;

        @media (min-width: $breakpoint-medium) {
          color: white;
          text-decoration: none;
          padding: 0.5rem 0.5rem;
          font-weight: 500;
          font-size: 1rem;
        }

        @media (min-width: $breakpoint-large) {
          color: white;
          text-decoration: none;
          padding: 0.5rem 1rem;
          font-weight: 500;
          font-size: 1rem;
        }
      }
    }

    .middle-bottom {
      display: flex;
      justify-content: center;
      position: relative;
      width: 93%;
      background: linear-gradient(to right, #09131b, #3f4950);
      display: flex;
      justify-content: space-between;
      height: 60px;
      border-radius: 50px;
      padding-left: 1.5rem;
      margin: 0 auto;

      @media (min-width: $breakpoint-small) {
        padding-left: 2rem;
      }
      @media (min-width: $breakpoint-medium) {
        width: 500px;
      }
      @media (min-width: 820px) {
        width: 550px;
      }
      @media (min-width: $breakpoint-large) {
        width: 600px;
        background: linear-gradient(to right, #09131b, #3f4950);
        display: flex;
        justify-content: space-between;
        height: 60px;
        border-radius: 50px;
        padding-left: 2rem;
      }

      > .input {
        width: 0;
        // opacity: 0;
        // display: none;
        position: absolute;
        // left: 0;
        right: 0;
        bottom: 200px;

        input {
          position: absolute;
          background: linear-gradient(to right, #fe630e, #fe4c19);
          z-index: 2;
          left: 0;
          right: 0;
          color: white;
          border: none;
          height: 60px;
          width: 100%;
          padding: 0 1.5rem;
          border-radius: 50px;
          outline: none;
          font-size: 1rem;
          // transition: all 0.2s;
        }

        input::placeholder {
          color: white;
          font-size: 0.8rem;

          @media (min-width: $breakpoint-small) {
            font-size: 1rem;
          }
        }

        > button {
          position: absolute;
          cursor: pointer;
        }

        .cross-button {
          right: -30px;
          height: 60px;
          width: 30px;
          font-size: 2rem;
          border: none;
          background-color: inherit;
          color: white;

          @media (min-width: $breakpoint-small) {
            right: -50px;
            height: 60px;
            width: 60px;
            font-size: 2.5rem;
            border: none;
            background-color: inherit;
            color: white;
          }
          @media (min-width: $breakpoint-large) {
            right: -60px;
          }
        }

        .advaned-search {
          z-index: 3;
          right: 15px;
          top: 0;
          font-size: 0.8rem;
          background-color: inherit;
          border: none;
          color: white;
          cursor: pointer;
          height: 60px;
          width: 60px;
          // display: none;

          @media (min-width: $breakpoint-small) {
            z-index: 3;
            right: 15px;
            top: 0;
            font-size: 0.8rem;
            background-color: inherit;
            border: none;
            color: white;
            cursor: pointer;
            height: 60px;
            width: auto;
          }
        }
      }

      .show-input {
        width: 100%;
        opacity: 1;
        left: 0;
        right: 0;
        bottom: 60px;
        // transition: all 0.1s;
      }

      > button {
        background-color: inherit;
        border: none;
        color: white;
        font-size: 0.8rem;
        cursor: pointer;
        display: flex;
        align-items: center;

        > i:nth-child(1) {
          display: none;
        }

        @media (min-width: 450px) {
          font-size: 0.9rem;
        }
        @media (min-width: $breakpoint-small) {
          font-size: 0.9rem;
          > i:nth-child(1) {
            display: block;
          }
        }

        > span {
          padding: 0 3px;

          @media (min-width: $breakpoint-small) {
            padding: 0 5px;
          }
        }

        > .fa-angle-down {
          opacity: 0.6;
        }
      }

      .searchButton {
        height: 60px;
        width: 60px;
        background: linear-gradient(#fe471b, #fe7106);
        border-radius: 50%;
        display: grid;
        place-items: center;
        cursor: pointer;
        > i:nth-child(1) {
          display: block;
        }

        @media (min-width: $breakpoint-small) {
          height: 60px;
          width: 60px;
        }
      }

      .large-menu {
        position: absolute;
        left: 0;
        right: 0;
        border-radius: 5px;
        background: linear-gradient(to bottom right, #4c4c4dba, #91744c41);
        backdrop-filter: blur(10px);
        top: 70px;
        padding: 1rem;
        z-index: 3;
        display: none;

        .large-menu-top-list-header,
        .large-menu-bottom-list-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: rgba(0, 0, 0, 0.472);
          padding: 0.4rem 1rem;
          margin-bottom: 0.7rem;
          border-radius: 5px;

          button {
            background-color: inherit;
            color: white;
            border: none;
            font-size: 1rem;
            cursor: pointer;
          }
        }

        .large-menu-top-list {
          padding: 0 1rem;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-column-gap: 0.5rem;
          grid-row-gap: 0.7rem;
          @media (min-width: $breakpoint-small) {
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 1rem;
            grid-row-gap: 0.3rem;
          }

          .single-card {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-gap: 10px;
            align-items: center;
            cursor: pointer;

            padding: 5px 5px;
            border-radius: 50px;
            transition: all 0.2s;

            img {
              width: 35px;
            }
            p {
              font-weight: bold;
              font-size: 0.9rem;
            }

            div:nth-child(1) {
              display: flex;
            }

            &:hover {
              background-color: rgba(128, 128, 128, 0.586);
            }
          }
        }

        .large-menu-bottom-list-header {
          margin-top: 0.7rem;
        }

        .large-menu-bottom-list {
          padding: 0 1rem;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-column-gap: 0.5rem;
          grid-row-gap: 0.7rem;

          @media (min-width: $breakpoint-small) {
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 1rem;
          }

          img {
            width: 70px;
          }
          p {
            font-weight: bold;
            font-size: 0.9rem;
          }

          .single-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            padding: 5px 5px;
            border-radius: 5px;
            transition: all 0.2s;
            &:hover {
              background-color: rgba(128, 128, 128, 0.586);
            }
          }
        }
      }

      .show-large-menu {
        display: block;
      }
    }
  }

  .right {
    margin-top: 0.5rem;
    display: none;
    justify-content: flex-end;
    align-items: center;

    button {
      padding: 1rem;
      font-size: 1.4rem;
      background-color: inherit;
      border: none;
      cursor: pointer;
      padding-top: 1rem;

      @media (min-width: $breakpoint-medium) {
        font-size: 1.2rem;
        padding-top: 0;
      }
      @media (min-width: $breakpoint-large) {
        font-size: 1.4rem;
        padding-top: 1rem;
      }
    }

    button:nth-child(1) {
      margin-right: 5px;
      margin-left: 1rem;
      color: white;
    }
    button:nth-child(2) {
      color: #2563eb;
    }

    @media (min-width: $breakpoint-medium) {
      display: flex;
    }
  }

  .banner-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
    font-family: "Quantico";

    @media (min-width: $breakpoint-small) {
      width: 80%;
    }
    @media (min-width: $breakpoint-large) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 80%;
    }

    .banner-body-left-container {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      height: 70%;
      align-items: center;
      justify-content: center;

      @media (min-width: $breakpoint-medium) {
        height: 70%;
      }

      @media (min-width: $breakpoint-large) {
        padding-top: 80px;
        align-items: flex-start;
        height: fit-content;
        justify-content: flex-start;
      }

      .banner-body-left-1 {
        button {
          font-family: "Quantico";
          border: none;
          background-color: rgba(128, 128, 128, 0.417);
          color: white;
          padding: 4px 7px;
          border-radius: 5px;
        }
      }

      .banner-body-left-2 {
        h3 {
          color: white;
          font-size: 1.7rem;
          text-align: center;
          @media (min-width: $breakpoint-small) {
            font-size: 2rem;
            text-align: left;
          }
        }
      }
      .banner-body-left-3 {
        display: flex;
        gap: 2rem;
        align-items: center;

        button {
          border: none;
          background-color: #ff5400;
          color: white;
          padding: 0.3rem 0.3rem 0.3rem 0.5rem;
          border-radius: 5px 0 0 5px;
          font-family: "Quantico";
          z-index: 2 !important;
          position: relative;
          &::after {
            content: "";
            width: 10px;
            height: 99%;
            background-color: #ff5400;
            position: absolute;
            bottom: 0;
            right: -5px;
            z-index: 1;
            transform: skewX(15deg);
            border-radius: 0 3px 5px 0;
          }
        }

        h2 {
          color: white;
          font-family: "lato";
        }
      }
    }

    .banner-body-right-container {
      height: 100%;

      .banner-body-right-1 {
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding-top: 100px;

        @media (min-width: $breakpoint-small) {
          align-items: flex-start;
          padding-top: 50px;
        }
        @media (min-width: $breakpoint-large) {
          align-items: center;
        }
        @media (min-width: $breakpoint-xLarge) {
          justify-content: flex-start;
        }

        button {
          font-family: "Quantico";
          border: none;
          background-color: #242423b9;
          display: flex;
          align-items: center;
          color: white;
          padding: 5px 20px;
          font-size: 2rem;
          cursor: pointer;
          transition: all 0.2s;
          span {
            font-size: 1.3rem;
            font-weight: bold;
            margin-right: 0.5rem;
          }

          &:hover {
            background-color: #2424238f;
          }
        }
      }
    }
  }
}

.home-cards {
  width: 95%;
  margin: 0 auto;

  @media (min-width: $breakpoint-small) {
    width: 80%;
  }

  .home-cards-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

    h3 {
      color: white;
      font-size: 1.5rem;

      @media (min-width: $breakpoint-small) {
        font-size: 2rem;
      }
    }

    button {
      padding: 0.5rem 0.75rem;
      background-color: inherit;
      color: white;
      border: 1px solid gray;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  .home-cards-container {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;

    @media (min-width: $breakpoint-medium) {
      grid-template-columns: 1fr 1fr;
    }
    @media (min-width: $breakpoint-xLarge) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    .single-card {
      .game-card-top {
        position: relative;
        width: 100%;

        img {
          width: 100%;
          border-radius: 10px;
          height: 230px;
          object-fit: cover;
        }
        button {
          border: none;
          background-color: #ff5400;
          color: white;
          padding: 0.3rem 0.3rem 0.3rem 0.5rem;
          // clip-path: polygon(0 0, 83% 0, 100% 100%, 0% 100%);
          border-radius: 5px 0 0 5px;
          position: absolute;
          bottom: 3px;
          left: 0;
          font-family: "Quantico";
          z-index: 2 !important;
          // position: relative;
          &::after {
            content: "";
            width: 10px;
            height: 99%;
            background-color: #ff5400;
            position: absolute;
            bottom: 0;
            right: -5px;
            z-index: 1;
            transform: skewX(15deg);
            border-radius: 0 3px 5px 0;
          }
        }
      }

      .game-card-bottom {
        color: white;
        display: flex;
        justify-content: space-between;
        margin-top: 0.5rem;
        font-family: "Quantico";

        h4 {
          font-weight: bold;
          font-size: 1.3rem;
          display: flex;
          align-items: center;

          button {
            color: white;
            background-color: inherit;
            border: 2px solid gray;
            padding: 3px 5px;
            border-radius: 5px;
            font-family: "Quantico";
            margin-right: 5px;
          }
        }

        h3 {
          font-size: 1.4rem;
        }
      }
    }
  }
}
